<h1>Bienvenue dans notre service Entretien!</h1>
<br>
<h2>
 {{ name }} Merci pour votre confiance!
</h2>
<br>
{# example, assuming you have a route named "login" #}
<h3>Voici votre Devis:</h3>
<br>
Nom de la piece: {{ nomPiece }}
<br>
Prix Unitaire de la piece: {{ prixUnitaire }} DT
<br>
nombre de pieces: {{ quantite }} piece(s)
<br>
Main D'oeuvre : 25.600 Dt
<br>
Prix Total : {{ prixTot }} DT
<br>
<h4>Pour Plus d'information veuillez nous appeler sur notre numero 20152214 <br>  ou bien visiter notre site web et passer un rendez-vous </h4>



{# Makes an absolute URL to the /images/logo.png file #}