{% extends 'BACK/back.html.twig' %}
{% block head %}

{% endblock %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Ajouter Livraison</h5>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <br><br>
                                {{ form_row(form.localisation, {'attr':{'class':'form-control'}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <br><br>
                                {{ form_row(form.etat, {'attr':{'class':'form-control'}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <br><br>
                                {{ form_row(form.idLivreur, {'attr':{'class':'form-control'}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <br><br>
                                {{ form_row(form.idVelo, {'attr':{'class':'form-control'}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <br><br>
                                {{ form_row(form.idCommande, {'attr':{'class':'form-control'}}) }}

                            </div>
                        </div>
                    </div>
                    <div>
                    </div>


                    {{ form_end(form) }}
                </div>
                <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                </div>
            </div>
            <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                <span class="text-nowrap"></span>
            </p>
        </div>
    </div>


{% endblock %}

{% block scripts %}
{% endblock %}