{% extends 'FRONT/front.html.twig' %}
{% block body %}
    <div class="cy_checkout_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 offset-lg-4">
                    <div class="cy_checkout_box">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>


    {{ form_end(form) }}
{% endblock %}
