<!DOCTYPE html>
<!--
**********************************************************************************************************
    Copyright (c)
********************************************************************************************************** -->
<!--
Template Name: Cycling- Html Template
Version: 1.0.0
Author: Kamleshyadav
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>Cycling - Html Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Hsoft">
    <meta name="MobileOptimized" content="320">
    <!-- favicon links-->
    <link rel="icon" type="image/icon" href="{{ asset('favicon.png') }}">
    <!-- main css -->
    <link rel="stylesheet" href="{{asset('Asset/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/css/fonts.css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/css/custom-animation.css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/js/plugin/owl/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/js/plugin/owl/owl.theme.css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/js/plugin/magnific/magnific-popup.css')}}">
    <link href="{{ asset('Asset/js/plugin/revolution/css/settings.css" rel="stylesheet" type="text/css')}}">
    <link href="{{ asset('Asset/js/plugin/revolution/css/layers.css" rel="stylesheet" type="text/css')}}">
    <link href="{{ asset('Asset/js/plugin/revolution/css/navigation.css" rel="stylesheet" type="text/css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="{{ asset('tabassets/css/fresh-bootstrap-table.css') }}" rel="stylesheet" />
    <link href="{{ asset('tabassets/css/demo.css') }}" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>

    <!--  Just for demo purpose, do not include in your project   -->
    <script src="{{ asset('tabassets/js/demo/gsdk-switch.js') }}"></script>
    <script src="{{ asset('tabassets/js/demo/jquery.sharrre.js') }}"></script>
    <script src="{{ asset('tabassets/js/demo/demo.js') }}"></script>
</head>
{% block head %}
{% endblock %}

<body>
<!--Top bar start-->
<div class="cy_top_wrapper">
    <div class="cy_top_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="cy_top_detail">
                        <ul>
                            <li>{% if is_granted("ROLE_USER") %}
                                    EMAIL: {{ app.user.email }}
                                {% else %}
                                    <a href=" {{ path('fos_user_registration_register')}}"> Créer Compte </a>
                                {% endif %}</li>
                            {% if is_granted("ROLE_USER") %}
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}"> {{ app.user.username }} </a>

                                </li>
                            {% endif %}
                            <li>{% if is_granted("ROLE_USER") %}
                                    <a href="{{  path('fos_user_security_logout')}}">Se Deconnecter</a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">Se Connecter</a>
                                {% endif %}

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Banner section start-->
<div class="cy_bread_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Historique Des Commandes</h1>
            </div>
        </div>
    </div>
</div>
<!--Menus Start-->
<div class="cy_menu_wrapper">
    <div class="cy_logo_box">
        <a href="index.html"><img src="images/logo.png" alt="logo" class="img-fluid"/></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <button class="cy_menu_btn">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <div class="cy_menu">
                    <nav>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li><a href="about.html">about</a></li>
                            <li class="dropdown"><a href="javascript:;">event</a>
                                <ul class="sub-menu">
                                    <li><a href="event.html">event</a></li>
                                    <li><a href="event_single.html">event single</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="blog.html">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog_single.html">blog single</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="javascript:;">pages</a>
                                <ul class="sub-menu">
                                    <li><a href="{{ path('produit_show') }}">shop</a></li>
                                    <li><a href="shop_single.html">shop single</a></li>
                                    <li><a href="cart.html">cart</a></li>
                                    <li><a href="checkout.html">checkout</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li><a href="gallery.html">gallery</a></li>
                            <li><a href="contact.html">contact us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="cy_search">
                    <a href="#" class="search_open"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search section -->
<div class="cy_search_form">
    <button class="search_close"><i class="fa fa-times"></i></button>
    <div class="cy_search_input">
        <input type="search" placeholder="search">
        <i class="fa fa-search"></i>
    </div>
</div>
<!-- Cart section start -->
<div class="cy_cart_wrapper">
    <div class="container">
        <div class="row">
            <div class="fresh-table full-color-orange">
                <!--
                  Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                  Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
                -->
                <div class="toolbar">
                    <button id="alertBtn" class="btn btn-default">Alert</button>
                </div>

                <table id="fresh-table" class="table">
                    <thead>
                    <th data-field="id">ID Commande</th>
                    <th data-field="name" data-sortable="true">Prix_Total</th>
                    <th data-field="salary" data-sortable="true">Code Promo</th>
                    <th data-field="produit" data-sortable="true">Produits</th>
                    <th data-field="country" data-sortable="true">Date</th>
                    <th data-field="print" data-sortable="true">Print</th>
                    <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
                    </thead>

                    <tbody>
                    {% for commande in comms %}
                            <tr>

                                <td>{{ commande.idCommande }}</td>
                                <td>{{ commande.prixTotal }}</td>
                                <td>{{ commande.codePromo }}</td>

                                    <td>
                                    <table>
                                        {% for prod in commande.idProd %}
                                        <tr>
                                    <td><img src="{{ prod.urlImage }} " height="52" width="30"></td>
                                    <td>{{ prod.idProd }}</td>
                                    <td>{{ prod.prixProd }}</td>
                                    <td>{{ prod.nom }}</td>
                                    <td>{{ prod.marque }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    </td>
                                    <td>{{ commande.date | date }}</td>
                                <td><a href="{{ path('pdf_commande',{('id'):commande.idCommande}) }}" class="cy_button">Print Receipt</a></td>

                            </tr>
                    {% endfor %}
                            </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer section start-->
<div class="cy_footer_wrapper cy_section_padding padder_bottom75">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget cy_footer_about">
                    <img src="images/logo.png" alt="logo" class="img-fluid"/>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h1 class="widget-title">recent blog</h1>
                    <div class="cy_recent_post">
                        <div class="cy_post_img">
                            <a href="#"><img src="http://via.placeholder.com/70x70" alt="post"/></a>
                        </div>
                        <div class="cy_post_data">
                            <h3><a href="#">Selecting The Proper Bicycle</a></h3>
                            <p>14 Apr, 2017</p>
                        </div>
                    </div>
                    <div class="cy_recent_post">
                        <div class="cy_post_img">
                            <a href="#"><img src="http://via.placeholder.com/70x70" alt="post"/></a>
                        </div>
                        <div class="cy_post_data">
                            <h3><a href="#">Selecting The Proper Bicycle</a></h3>
                            <div class="cy_post_info"><p>14 Apr, 2017</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h1 class="widget-title">contact info</h1>
                </div>
                <div class="cy_foo_contact">
                    <span><img src="images/svg/map-mark.svg" alt="map-mark"></span>
                    <div class="cy_post_info">
                        <p>10221 Magnolia Grove Dr,  Manassas, VA, 20110</p>
                    </div>
                </div>
                <div class="cy_foo_contact">
                    <span><img src="images/svg/phone.svg" alt="phone"></span>
                    <div class="cy_post_info">
                        <p>Office :- +1-512-555-0190</p>
                        <p>Office :- +1-512-555-0190</p>
                    </div>
                </div>
                <div class="cy_foo_contact">
                    <span><img src="images/svg/email.svg" alt="email"></span>
                    <div class="cy_post_info">
                        <p><a href="#">help@yourmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h1 class="widget-title">flicker widget</h1>
                    <div class="cy_foo_gallery">
                        <ul>
                            <li><a href="#"><img src="http://via.placeholder.com/78x78" alt="flicker gallery"></a></li>
                            <li><a href="#"><img src="http://via.placeholder.com/78x78" alt="flicker gallery"></a></li>
                            <li><a href="#"><img src="http://via.placeholder.com/78x78" alt="flicker gallery"></a></li>
                            <li><a href="#"><img src="http://via.placeholder.com/78x78" alt="flicker gallery"></a></li>
                            <li><a href="#"><img src="http://via.placeholder.com/78x78" alt="flicker gallery"></a></li>
                            <li><a href="#"><img src="http://via.placeholder.com/78x78" alt="flicker gallery"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Bottom footer start-->
<div class="cy_btm_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <P>Copyright &copy; 2017, <a href="#">Cycling</a>. All Rights Reserved.</P>
            </div>
        </div>
    </div>
</div>
<!--Go to top start-->
<div class="cy_go_to">
    <div class="cy_go_top">
        <img src="images/go_to_top.png" alt="back to top">
    </div>
</div>

{% block scripts %}
    <script type="text/javascript">
        var $table = $('#fresh-table')
        var $alertBtn = $('#alertBtn')

        window.operateEvents = {
            'click .like': function (e, value, row, index) {
                alert('You click like icon, row: ' + JSON.stringify(row))
                console.log(value, row, index)
            },
            'click .edit': function (e, value, row, index) {
                alert('You click edit icon, row: ' + JSON.stringify(row))
                console.log(value, row, index)
            },
            'click .remove': function (e, value, row, index) {
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: [row.id]
                })
            }
        }

        function operateFormatter(value, row, index) {
            return [
                '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
                '<i class="fa fa-heart"></i>',
                '</a>',
                '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
                '<i class="fa fa-edit"></i>',
                '</a>',
                '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
                '<i class="fa fa-remove"></i>',
                '</a>'
            ].join('')
        }

        $(function () {
            $table.bootstrapTable({
                classes: 'table table-hover table-striped',
                toolbar: '.toolbar',

                search: true,
                showRefresh: true,
                showToggle: true,
                showColumns: true,
                pagination: true,
                striped: true,
                sortable: true,
                pageSize: 8,
                pageList: [8, 10, 25, 50, 100],

                formatShowingRows: function (pageFrom, pageTo, totalRows) {
                    return ''
                },
                formatRecordsPerPage: function (pageNumber) {
                    return pageNumber + ' rows visible'
                }
            })

            $alertBtn.click(function () {
                alert('You pressed on Alert')
            })
        })

        $('#sharrreTitle').sharrre({
            share: {
                twitter: true,
                facebook: true
            },
            template: '',
            enableHover: false,
            enableTracking: true,
            render: function (api, options) {
                $("#sharrreTitle").html('Thank you for ' + options.total + ' shares!')
            },
            enableTracking: true,
            url: location.href
        })

        $('#twitter').sharrre({
            share: {
                twitter: true
            },
            enableHover: false,
            enableTracking: true,
            buttons: { twitter: {via: 'CreativeTim'}},
            click: function (api, options) {
                api.simulateClick()
                api.openPopup('twitter')
            },
            template: '<i class="fa fa-twitter"></i> {total}',
            url: location.href
        })

        $('#facebook').sharrre({
            share: {
                facebook: true
            },
            enableHover: false,
            enableTracking: true,
            click: function (api, options) {
                api.simulateClick()
                api.openPopup('facebook')
            },
            template: '<i class="fa fa-facebook-square"></i> {total}',
            url: location.href
        })
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga')

        ga('create', 'UA-46172202-1', 'auto')
        ga('send', 'pageview')

    </script>


</body>
    <!--scripts start-->
    <script src="{{asset('Asset/js/jquery.js')}}"></script>
    <script src="{{ asset('Asset/js/tether.min.js')}}"></script>
    <script src="{{ asset('Asset/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('Asset/js/jquery.countTo.js')}}"></script>
    <script src="{{ asset('Asset/js/appear.js')}}"></script>
    <script src="{{ asset('Asset/js/wow.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/owl/owl.carousel.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/magnific/jquery.magnific-popup.min.js')}}"></script>
    <!--Revolution slider js-->
    <script src="{{ asset('Asset/js/plugin/revolution/js/jquery.themepunch.revolution.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/revolution/js/jquery.themepunch.tools.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/revolution/js/revolution.extension.navigation.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/revolution/js/revolution.extension.slideanims.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/revolution/js/revolution.extension.layeranimation.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/revolution/js/revolution.extension.parallax.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/revolution/js/revolution.extension.kenburn.min.js')}}"></script>
    <script src="{{ asset('Asset/js/jquery.nice-select.min.js')}}"></script>
    <script src="{{ asset('Asset/js/custom.js')}}"></script>
{% endblock %}

</html>