{% extends 'back/backbase.html.twig' %}
{% block head %}

{% endblock %}



{% block body %}

<div class="card card-stats mb-4 mb-xl-0">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <div>
                        <table class="table align-items-center">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">
                                    VeloUtile
                                </th>
                                <th scope="col">
                                    Prix
                                </th>
                                <th scope="col">
                                    Marque
                                </th>
                                <th scope="col">Quantite</th>
                                <th scope="col">
                                    Type
                                </th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for VeloUtile in liste %}

                            <tr>
                                <th scope="row" class="name">
                                    <div class="media align-items-center">
                                        <a href="#" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="{{ VeloUtile.urlImage}}">
                                        </a>
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">{{ VeloUtile.nom }}</span>
                                        </div>
                                    </div>
                                </th>
                                <td class="budget">
                                    {{ VeloUtile.prixLocation }}
                                </td>
                                <td class="status">
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i> {{VeloUtile.marque}}
                    </span>
                                </td>
                                <td>

                                    {{ VeloUtile.quantite }}
                                </td>
                                <td class="completion">
                                    <div class="d-flex align-items-center">

                                        <div>
                                                {{ VeloUtile.typeVelo }}
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="{{ path('velo_updateProd',{id:VeloUtile.idVelo}) }}">Modifier</a>
                                            <a class="dropdown-item" href="{{ path('velo_deleteProd',{id:VeloUtile.idVelo}) }}">Supprimer</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>

    {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}