<!DOCTYPE html>
<!--
**********************************************************************************************************
    Copyright (c)
********************************************************************************************************** -->
<!--
Template Name: Cycling- Html Template
Version: 1.0.0
Author: Kamleshyadav
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>Cycling - Html Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Hsoft">
    <meta name="MobileOptimized" content="320">
    <!-- favicon links-->
    <link rel="icon" type="image/icon" href="{{ asset('favicon.png') }}">
    <!-- main css -->
    <link rel="stylesheet" href="{{asset('Asset/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/css/fonts.css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/css/custom-animation.css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/js/plugin/owl/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/js/plugin/owl/owl.theme.css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/js/plugin/magnific/magnific-popup.css')}}">
    <link href="{{ asset('Asset/js/plugin/revolution/css/settings.css" rel="stylesheet" type="text/css')}}">
    <link href="{{ asset('Asset/js/plugin/revolution/css/layers.css" rel="stylesheet" type="text/css')}}">
    <link href="{{ asset('Asset/js/plugin/revolution/css/navigation.css" rel="stylesheet" type="text/css')}}">
    <link rel="stylesheet" href="{{ asset('Asset/css/style.css')}}">


</head>
{% block head %}
{% endblock %}

<body>
<!--Top bar start-->
<div class="cy_top_wrapper">
    <div class="cy_top_info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="cy_top_detail">
                        <ul>
                            <li>{% if is_granted("ROLE_USER") %}
                                    EMAIL: {{ app.user.email }}
                                {% else %}
                                    <a href=" {{ path('fos_user_registration_register')}}"> Créer Compte </a>
                                {% endif %}</li>
                            {% if is_granted("ROLE_USER") %}
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}"> {{ app.user.username }} </a>

                                </li>
                            {% endif %}
                            <li>{% if is_granted("ROLE_USER") %}
                                    <a href="{{  path('fos_user_security_logout')}}">Se Deconnecter</a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">Se Connecter</a>
                                {% endif %}

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Banner section start-->
<div class="cy_bread_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>cart</h1>
            </div>
        </div>
    </div>
</div>
<!--Menus Start-->
<div class="cy_menu_wrapper">
    <div class="cy_logo_box">
        <a href="index.html"><img src="images/logo.png" alt="logo" class="img-fluid"/></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <button class="cy_menu_btn">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <div class="cy_menu">
                    <nav>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li><a href="about.html">about</a></li>
                            <li class="dropdown"><a href="javascript:;">event</a>
                                <ul class="sub-menu">
                                    <li><a href="event.html">event</a></li>
                                    <li><a href="event_single.html">event single</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="blog.html">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog_single.html">blog single</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="javascript:;">pages</a>
                                <ul class="sub-menu">
                                    <li><a href="{{ path('produit_show') }}">shop</a></li>
                                    <li><a href="shop_single.html">shop single</a></li>
                                    <li><a href="cart.html">cart</a></li>
                                    <li><a href="checkout.html">checkout</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li><a href="gallery.html">gallery</a></li>
                            <li><a href="contact.html">contact us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="cy_search">
                    <a href="#" class="search_open"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search section -->
<div class="cy_search_form">
    <button class="search_close"><i class="fa fa-times"></i></button>
    <div class="cy_search_input">
        <input type="search" placeholder="search">
        <i class="fa fa-search"></i>
    </div>
</div>
<!-- Cart section start -->
<div class="cy_cart_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-14">
                <div class="cy_cart_box woocommerce">
                    <table class="shop_table shop_table_responsive cart">
                        <thead>
                        <tr>
                            <th class="product-thumbnail">Image</th>
                            <th class="product-name">Name</th>
                            <th class="product-price">Price</th>
                            <th class="product-name">Quantity</th>
                            <th class="product-price">Total Product</th>
                            <th class="product-remove">Remove</th>
                        </tr>
                        </thead>
                        {% for produit in panier %}
                        <tbody>
                        <tr>

                            <td class="product-thumbnail"><a href="#"><img src="{{ produit.product.urlImage }}" alt="cart thumbnail" class="img-fluid"></a></td>
                            <td class="product-name">{{ produit.product.nom }}</td>
                            <td class="product-price">{{ produit.product.prixProd }}</td>
                            <td class="product-name">{{ produit.quantity }}</td>
                            <td class="product-price">{{ produit.product.prixProd * produit.quantity }}</td>
                            <td class="product-remove"><a href="{{ path('prod_Remove',{('id'):produit.product.idProd}) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>

                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    <a href="" id="press" class="cy_button" data-toggle="modal" data-target="#delivery">Delivery</a>
                    {{render(controller('LivraisonBundle\\Controller\\LivraisonController::ajouterLivraisonAction')) }}



                    </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="cy_cart_sidebar">
                    <div class="coupon">
                        <h2>Promotional Code</h2>
                        <div class="coupon_input">
                            <input type="text" placeholder="Enter Your Code Here" id="coupon">
                            <div id="message" class="alert alert-success" role="alert"></div>
                            <button href="#" id="apply" class="cy_button">Apply</button>
                            <button id="edit" class="cy_button" style="display:none;">Edit</button>
                        </div>
                    </div>
                    <div class="cart-collaterals">
                        <div class="cart_totals">
                            <h2>Cart Total</h2>
                            <table class="shop_table shop_table_responsive">
                                <tbody>
                                <tr class="cart-subtotal">
                                    <td>Subtotal</td>
                                    <td>{{ total }}</td>
                                </tr>
                                <tr class="cart-shipping">
                                    <td>Shipping</td>
                                    <td></td>
                                </tr>
                                <tr class="cart-tax">
                                    <td>Discount</td>
                                    <td><input id="discount" value="" class="form-control" ></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr class="order-total">
                                    <th>Total</th>
                                    <th ><input id="total" value="{{ total }}" class="form-control" ></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="wc-proceed-to-checkout">
                            <div id="paypal-button-container"></div>

                            <a href="{{ path('cart_Validate') }}" id="proc" class="cy_button" >Proceed with checkout</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Footer section start-->
<div class="cy_footer_wrapper cy_section_padding padder_bottom75">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget cy_footer_about">
                    <img src="images/logo.png" alt="logo" class="img-fluid"/>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h1 class="widget-title">recent blog</h1>
                    <div class="cy_recent_post">
                        <div class="cy_post_img">
                            <a href="#"><img src="http://via.placeholder.com/70x70" alt="post"/></a>
                        </div>
                        <div class="cy_post_data">
                            <h3><a href="#">Selecting The Proper Bicycle</a></h3>
                            <p>14 Apr, 2017</p>
                        </div>
                    </div>
                    <div class="cy_recent_post">
                        <div class="cy_post_img">
                            <a href="#"><img src="http://via.placeholder.com/70x70" alt="post"/></a>
                        </div>
                        <div class="cy_post_data">
                            <h3><a href="#">Selecting The Proper Bicycle</a></h3>
                            <div class="cy_post_info"><p>14 Apr, 2017</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h1 class="widget-title">contact info</h1>
                </div>
                <div class="cy_foo_contact">
                    <span><img src="images/svg/map-mark.svg" alt="map-mark"></span>
                    <div class="cy_post_info">
                        <p>10221 Magnolia Grove Dr,  Manassas, VA, 20110</p>
                    </div>
                </div>
                <div class="cy_foo_contact">
                    <span><img src="images/svg/phone.svg" alt="phone"></span>
                    <div class="cy_post_info">
                        <p>Office :- +1-512-555-0190</p>
                        <p>Office :- +1-512-555-0190</p>
                    </div>
                </div>
                <div class="cy_foo_contact">
                    <span><img src="images/svg/email.svg" alt="email"></span>
                    <div class="cy_post_info">
                        <p><a href="#">help@yourmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h1 class="widget-title">flicker widget</h1>
                    <div class="cy_foo_gallery">
                        <ul>
                            <li><a href="#"><img src="http://via.placeholder.com/78x78" alt="flicker gallery"></a></li>
                            <li><a href="#"><img src="http://via.placeholder.com/78x78" alt="flicker gallery"></a></li>
                            <li><a href="#"><img src="http://via.placeholder.com/78x78" alt="flicker gallery"></a></li>
                            <li><a href="#"><img src="http://via.placeholder.com/78x78" alt="flicker gallery"></a></li>
                            <li><a href="#"><img src="http://via.placeholder.com/78x78" alt="flicker gallery"></a></li>
                            <li><a href="#"><img src="http://via.placeholder.com/78x78" alt="flicker gallery"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Bottom footer start-->
<div class="cy_btm_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <P>Copyright &copy; 2017, <a href="#">Cycling</a>. All Rights Reserved.</P>
            </div>
        </div>
    </div>
</div>
<!--Go to top start-->
<div class="cy_go_to">
    <div class="cy_go_top">
        <img src="images/go_to_top.png" alt="back to top">
    </div>
</div>
</body>
{% block scripts %}
    <!--scripts start-->
    <script src="{{ asset('Asset/jquery/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('Asset/js/easyNotify.js')}}"></script>
    <script>
        var myFunction = function() {
            alert('Click function');
        };
        var options = {
            title: "Notification",
            options: {
                body: "Notification Message Here", // body text
                icon: "", // notification icon
                lang: 'en-US', // language
                onClose: "", // onClose callback
                onClick: myFunction, // onClick callback
                onError: "" // onError callback
            }
        };

        $("#notify-button").easyNotify(options);
    </script>
    <script src="https://www.paypal.com/sdk/js?client-id=AZTa-Sx2AQBuz9Gu12ScOYhp94pZplWfHzspzBjnA09Q9qTPwZC9F1ESGHC1LZut7ci7HecqyqaqYQnp"></script>
    <script>
        paypal.Buttons({
            createOrder: function(data, actions) {
                var user ="{{ app.user.username }}";
                var id = "25%".concat({{ app.user.id }});
                var code = user.concat(id);

                if ($('#coupon').val() === code) {
                    $totalred = $('#total').val();
                }
                else{
                    $totalred = $('#total').val();
                }
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: $totalred
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    alert('Transaction completed by {{ app.user.username }}');
                    // Call your server to save the transaction
                    return fetch('/paypal-transaction-complete', {
                        method: 'post',
                        headers: {
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            orderID: data.orderID
                        })
                    });
                });
            },


        }).render('#paypal-button-container');
    </script>
    <script>
        $("#apply").click(function () {
            var user ="{{ app.user.username }}";
            var id = "25%".concat({{ app.user.id }});
            var code = user.concat(id);
            var valid=0;

            if ($('#coupon').val() === code) {

                var after_apply=$('#total').val()*0.75;
                $('#total').val(after_apply);
                $('#discount').val('25%');
                $('#apply').hide();
                $('#edit').show();
                valid=1;
                $('#message').prepend('<strong>Success!</strong> Promocode applied successfully ! ');
                return valid;
            }
            else{
                $('#apply').hide();
                $('#edit').show();
                $('#message').html("Invalid promocode !");
            }

        });
        $("#edit").click(function(){
            $('#coupon_code').val("");
            $('#apply').show();
            $('#edit').hide();
            location.reload();
        });

    </script>
    <script>
        $("#paypal-button-container").click(function() {
            $('#proc').show();
        });
    </script>
    <script src="{{ asset('Asset/js/tether.min.js')}}"></script>
    <script src="{{ asset('Asset/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('Asset/js/jquery.countTo.js')}}"></script>
    <script src="{{ asset('Asset/js/appear.js')}}"></script>
    <script src="{{ asset('Asset/js/wow.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/owl/owl.carousel.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/magnific/jquery.magnific-popup.min.js')}}"></script>
    <!--Revolution slider js-->
    <script src="{{ asset('Asset/js/plugin/revolution/js/jquery.themepunch.revolution.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/revolution/js/jquery.themepunch.tools.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/revolution/js/revolution.extension.navigation.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/revolution/js/revolution.extension.slideanims.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/revolution/js/revolution.extension.layeranimation.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/revolution/js/revolution.extension.parallax.min.js')}}"></script>
    <script src="{{ asset('Asset/js/plugin/revolution/js/revolution.extension.kenburn.min.js')}}"></script>
    <script src="{{ asset('Asset/js/jquery.nice-select.min.js')}}"></script>
    <script src="{{ asset('Asset/js/custom.js')}}"></script>

{% endblock %}

</html>