{% extends '/back/backbase.html.twig' %}
{% block head %}

{% endblock %}

{% form_theme formFormat 'bootstrap_3_layout.html.twig' %}

{% block body %}


        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Ajouter Produit</h5>
                    {{ form_start(formFormat) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="badge badge-primary">Primary</span>
                                <br><br>
                                {{ form_row(formFormat.nom, {'attr':{'class':'form-control'}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="badge badge-primary">Primary</span>
                                <br><br>
                                {{ form_row(formFormat.marque, {'attr':{'class':'form-control'}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="badge badge-primary">Primary</span>
                                <br><br>
                                {{ form_row(formFormat.urlImage, {'attr':{'class':'form-control'}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="badge badge-primary">Primary</span>
                                <br><br>
                                {{ form_row(formFormat.prixProd, {'attr':{'class':'form-control'}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="badge badge-primary">Primary</span>
                                <br><br>
                                {{ form_row(formFormat.quantite, {'attr':{'class':'form-control'}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="badge badge-primary">Primary</span>
                                <br><br>
                                {{ form_row(formFormat.typeProd, {'attr':{'class':'form-control'}}) }}

                            </div>
                        </div>
                    </div>


                    {{ form_end(formFormat) }}
                </div>
                <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                </div>
            </div>
            <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                <span class="text-nowrap"></span>
            </p>
        </div>


{% endblock %}

{% block scripts %}
{% endblock %}